<h1 id="séquence-4">Séquence 4</h1>
<p>L’objectif de la séquence est de travailler sur la construction de types abstraits, parmi lesquels les structures linéaires (liste, pile, file) On poura lire le chapitre 10 de l’ouvrage</p>
<p><strong>Algorithmique</strong> par Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest et Clifford Stein Dunod 3ième édition 2010 <a href="https://www.dunod.com/sciences-techniques/algorithmique-cours-avec-957-exercices-et-158-problemes">lien</a> des versions plus anciennes sont accessibles partiellement sur internet.</p>
<h2 id="question-1">Question 1</h2>
<p>On considère une pile <code>P</code>munie de ses opérateurs <code>empiler</code>et <code>dépiler</code>. On effectue successivement les opérations suivantes:</p>
<pre class="algo"><code>empiler(P,a)
empiler(P,b)
dépiler(P)
empiler(P,c)
dépiler(P)
dépiler(P)</code></pre>
<p>L’ordre dans lequel les éléments sont enlevés de la piles est : 1. a,c,b 2. b,c,a 3. a,b,c 4. b,a,c</p>
<h3 id="réponses-éléments">réponses (éléments)</h3>
<p>réponse correcte 2. b,c,a</p>
<pre class="algo"><code>- état de la pile ||
empiler(P,a)
- état de la pile |a|
empiler(P,b)
- état de la pile |ab|
dépiler(P)
- état de la pile |a| b est extrait
empiler(P,c)
- état de la pile |ac|
dépiler(P)
- état de la pile |a| c est extrait
dépiler(P)
-état de la pile || a est extrait</code></pre>
<h2 id="question-2">Question 2</h2>
<p>Pour vérifier qu’une expression est bien parenthésée avec des parenthèses <code>(</code> et <code>)</code>, quelles affirmations sont vraies ? 1. Il suffit de vérifier que le nombre de parenthèses ouvrantes est égal au nombre de parenthèses fermantes 2. On utilise 2 compteurs, l’un comptant le nombre de parenthèses ouvrantes, l’autre les fermantes et s’assurer que le premier compteur est toujours plus grand que le second lors du parcours séquentiel de l’expression. 3. L’expression contient maintenant en plus des parenthèses, des crochets <code>[</code>et <code>]</code>. Pour vérifier que l’expression est bien parenthésée il suffit de rajouter 2 autres compteurs associés aux <code>[</code>et <code>]</code> et appliquer la même méthode que pour les parenthèses.</p>
<h3 id="réponses-éléments-1">réponses (éléments)</h3>
<ol type="1">
<li>Faux : l’expression <code>)(</code>est mal parenthésée et les compteurs ont la même valeur</li>
<li>Faux : en effet il faut qu’à la fin du parcours de l’expression les 2 compeurs aient la même valeur</li>
<li>Faux : même si on a égalité des compteurs en fin de parcours de l’expression, l’expression <code>({)}</code>sera considérée bien parenthésée alors qu’elle ne l’est pas</li>
</ol>
<h2 id="question-3">Question 3</h2>
<p>Dans un arbre binaire de hauteur <span class="math inline"><em>h</em></span> ayant <span class="math inline"><em>n</em></span> noeuds, on prend pour convention que la hauteur de la racine de l’arbre est <span class="math inline">0</span>,</p>
<ol type="1">
<li>Quel est le nombre minimal de noeuds possibles à la hauteur <span class="math inline"><em>k</em></span> avec <span class="math inline">0 ≤ <em>k</em> ≤ <em>h</em></span> ? <span class="math inline">1</span>, <span class="math inline"><em>k</em></span>, <span class="math inline">2<em>k</em></span> <span class="math inline">2<sup><em>k</em></sup></span>, <span class="math inline">2<sup><em>h</em></sup></span></li>
<li>Le nombre de noeuds à la hauteur <span class="math inline"><em>h</em></span> est plus petit/égal/plus grand que le nombre de noeuds à la hauteur <span class="math inline"><em>h</em> − 1</span> ou bien toues les solutions sont possibles ?</li>
<li>Parmi ces inégalités lesquelles sont vérifiées <span class="math inline"><em>n</em> ≤ 2<sup><em>h</em></sup></span>, <span class="math inline"><em>n</em> ≥ <em>h</em> + 1</span>, <span class="math inline"><em>h</em> ≥ log<sub>2</sub><em>n</em> − 1</span></li>
</ol>
<h3 id="réponses-éléments-2">réponses (éléments)</h3>
<ol type="1">
<li><span class="math inline">1</span> il existe un noeud de l’arbre à la hauteur <span class="math inline"><em>h</em></span> donc un chemin de la racine à ce noeud, donc au moins un noeud à la hauteur <span class="math inline"><em>k</em></span>. Un arbre dégénéré (fil de hauteur <span class="math inline"><em>h</em></span>) a un seul noeud à la hauteur <span class="math inline"><em>k</em></span> cqfd.</li>
<li>Toutes les solutions sont possibles (faire des dessins)</li>
<li><span class="math inline"><em>n</em> ≤ 2<sup><em>h</em></sup></span> : Faux cette inégalité n’est pas forcemment vérifiée, un arbre complet de hauteur <span class="math inline"><em>h</em></span> a <span class="math inline">2<sup><em>h</em> + 1</sup> − 1</span> noeuds ce qui est plus grand que <span class="math inline">2<sup><em>h</em></sup></span> sauf si <span class="math inline"><em>h</em> = 0</span>. <span class="math inline"><em>n</em> ≥ <em>h</em> + 1</span> Vrai, en effet il existe une feuille à hauteur <span class="math inline"><em>h</em></span> donc un chemin de la racine à cette feuille, ce chemin de longueur <span class="math inline"><em>h</em></span> compte <span class="math inline"><em>h</em> + 1</span> noeuds. <span class="math inline"><em>h</em> ≥ log<sub>2</sub><em>n</em> − 1</span> Vrai un arbre de hauteur <span class="math inline"><em>h</em></span> contient au maximum <span class="math inline">2<sup><em>h</em> + 1</sup> − 1</span> sommets.</li>
</ol>
<h2 id="question-4">Question 4</h2>
<p>On considère l’arbre de 9 noeuds étiquetés, de racine le noeud 1</p>
<table>
<thead>
<tr class="header">
<th style="text-align: center;">noeud</th>
<th style="text-align: center;">étiquette</th>
<th style="text-align: center;">fils gauche</th>
<th style="text-align: center;">fils droit</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">E</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">7</td>
</tr>
<tr class="even">
<td style="text-align: center;">2</td>
<td style="text-align: center;">B</td>
<td style="text-align: center;">8</td>
<td style="text-align: center;">/</td>
</tr>
<tr class="odd">
<td style="text-align: center;">3</td>
<td style="text-align: center;">J</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">/</td>
</tr>
<tr class="even">
<td style="text-align: center;">4</td>
<td style="text-align: center;">T</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">/</td>
</tr>
<tr class="odd">
<td style="text-align: center;">5</td>
<td style="text-align: center;">Z</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">6</td>
<td style="text-align: center;">F</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">/</td>
</tr>
<tr class="odd">
<td style="text-align: center;">7</td>
<td style="text-align: center;">R</td>
<td style="text-align: center;">5</td>
<td style="text-align: center;">3</td>
</tr>
<tr class="even">
<td style="text-align: center;">8</td>
<td style="text-align: center;">K</td>
<td style="text-align: center;">6</td>
<td style="text-align: center;">9</td>
</tr>
<tr class="odd">
<td style="text-align: center;">9</td>
<td style="text-align: center;">G</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">/</td>
</tr>
</tbody>
</table>
<p>Parmis ces parcours de l’arbre</p>
<p>[F,G,T,K,Z,J,B,R,E]</p>
<p>[E,B,K,F,G,R,Z,T,J]</p>
<p>[F,G,K,B,T,Z,J,R,E]</p>
<p>[K,F,G,Z,T,R,J,E,B]</p>
<p>[E,R,J,Z,T,B,K,G,F]</p>
<p>[E,B,R,K,Z,J,F,G,T]</p>
<p>[F,K,G,B,E,Z,T,R,J]</p>
<p>donner le parcours correspondant à (s’il existe dans la liste)</p>
<ol type="1">
<li>un parcours en largeur d’abord</li>
<li>un parcours en profondeur d’abord préfixé</li>
<li>un parcours en profondeur d’abord infixé</li>
<li>un parcours en profondeur d’abord post-fixé</li>
</ol>
<h3 id="réponses-éléments-3">réponses (éléments)</h3>
<ol type="1">
<li>[E,B,R,K,Z,J,F,G,T] parcours en largeur d’abord</li>
<li>[E,B,K,F,G,R,Z,TJ] parcours en profondeur d’abord préfixé</li>
<li>[F,K,G,B,E,Z,T,R,J] parcours en profondeur d’abord infixé</li>
<li>[F,G,K,B,T,Z,J,R,E] parcours en profondeur d’abord post-fixé</li>
</ol>
