<h1 id="séquence-2">Séquence 2</h1>
<p>L’objectif de la séquence est d’introduire la notion de complexité et de preuve associées à un algorithme. On poura lire les chapitres 2 et 3 de l’ouvrage</p>
<p><strong>Algorithmique</strong> par Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest et Clifford Stein Dunod 3ième édition 2010 <a href="https://www.dunod.com/sciences-techniques/algorithmique-cours-avec-957-exercices-et-158-problemes">lien</a> des versions plus anciennes sont accessibles partiellement sur internet.</p>
<h2 id="question-1">Question 1</h2>
<p>Dans l’algorithme du calcul de <span class="math inline"><em>x</em><sup><em>n</em></sup></span> avec la méthode diviser pour régner récursif, la fonction <code>puissance_DR (x,n)</code> prend en entrée un élément <code>x</code> (dont la taille est fixe).</p>
<ol type="1">
<li>La taille du second paramètre <code>n</code> en entrée est <span class="math inline">log<sub>2</sub><em>n</em></span>, <span class="math inline"><em>n</em></span>, <span class="math inline"><em>n</em><sup>2</sup></span> ou <span class="math inline">2<sup><em>n</em></sup></span></li>
<li>La taille de l’espace mémoire necessaire pour effectuer <code>puissance_DR (x,n)</code> est <span class="math inline">𝒪(<em>t</em><em>a</em><em>i</em><em>l</em><em>l</em><em>e</em>(<em>x</em>))</span>, <span class="math inline">𝒪(<em>t</em><em>a</em><em>i</em><em>l</em><em>l</em><em>e</em>(<em>x</em>).log<sub>2</sub>(<em>n</em>))</span>, <span class="math inline">𝒪(<em>t</em><em>a</em><em>i</em><em>l</em><em>l</em><em>e</em>(<em>x</em>).log<sub>2</sub>(<em>n</em>))</span>, <span class="math inline">𝒪(<em>t</em><em>a</em><em>i</em><em>l</em><em>l</em><em>e</em>(<em>x</em>).<em>n</em>)</span>, <span class="math inline">𝒪(<em>t</em><em>a</em><em>i</em><em>l</em><em>l</em><em>e</em>(<em>x</em>).2<sup><em>n</em></sup>)</span>, ou cela dépend.</li>
</ol>
<h3 id="réponses-éléments">réponses (éléments)</h3>
<ol type="1">
<li><span class="math inline"><em>n</em></span> est un nombre entier donc codé sur <span class="math inline"><em>i</em><em>n</em><em>t</em>(log<sub>2</sub><em>n</em>) + 1</span> bits (avec <span class="math inline"><em>i</em><em>n</em><em>t</em>(<em>x</em>)</span> la partie entière de <span class="math inline"><em>x</em></span>). Donc il faut faire attention à l’usage des noms de variable et la notation <span class="math inline"><em>n</em></span> utilisée ici peut être source d’erreur.</li>
<li>La taille de l’espace mémoire utilisée dépend de l’opérateur de multiplication utilisé. Si on multiplie des entiers, à chaque itération on double la taille de variable dans l’accumulateur <code>p</code>. Donc la taille nécessaire sera <span class="math inline">𝒪(<em>t</em><em>a</em><em>i</em><em>l</em><em>l</em><em>e</em>(<em>x</em>).<em>n</em>)</span>. Si par contre on fait des opérations de multiplication modulo <span class="math inline"><em>m</em></span> (comme c’est le cas dans l’algorithme RSA), on a besoin d’un espace mémoire ne dépendant pas de <span class="math inline"><em>n</em></span> donc de l’ordre de <span class="math inline">𝒪(<em>t</em><em>a</em><em>i</em><em>l</em><em>l</em><em>e</em>(<em>x</em>))</span></li>
</ol>
<h2 id="question-2">Question 2</h2>
<p>Calculer le nombre d’opérations effectuées pour calculer <span class="math inline"><em>x</em><sup>1</sup></span>, <span class="math inline"><em>x</em><sup>2</sup></span>, <span class="math inline"><em>x</em><sup>3</sup></span>, jusqu’à <span class="math inline"><em>x</em><sup>10</sup></span>. Écrire la représentation binaire des entiers de <span class="math inline">1</span> à <span class="math inline">10</span></p>
<p>On note <span class="math inline"><em>B</em>(<em>n</em>)</span> le nombre de bits de la représentation binaire du nombre <span class="math inline"><em>n</em></span> et <span class="math inline"><em>H</em>(<em>n</em>)</span> le nombre de ‘1’ dans la représentation binaire de <span class="math inline"><em>n</em></span> (poids binaire de Hamming).</p>
<p>Le nombre d’opérations de multiplications effectuées par l’algorithme de calcul de <span class="math inline"><em>x</em><sup><em>n</em></sup></span> est (pour <span class="math inline"><em>n</em> &gt; 0</span>)</p>
<ol type="1">
<li><span class="math inline"><em>B</em>(<em>n</em>)</span></li>
<li><span class="math inline"><em>H</em>(<em>n</em>)</span></li>
<li><span class="math inline"><em>B</em>(<em>n</em>) + <em>H</em>(<em>n</em>)</span></li>
<li><span class="math inline"><em>B</em>(<em>n</em>) + <em>H</em>(<em>n</em>) − 1</span></li>
<li><span class="math inline"><em>B</em>(<em>n</em>) + <em>H</em>(<em>n</em>) − 2</span></li>
</ol>
<h3 id="réponses-éléments-1">réponses (éléments)</h3>
<table>
<thead>
<tr class="header">
<th style="text-align: right;">n</th>
<th style="text-align: right;">Binaire</th>
<th style="text-align: right;">B(n)</th>
<th style="text-align: center;">H(n)</th>
<th style="text-align: right;">C(n)</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: right;">0</td>
<td style="text-align: right;"><code>0</code></td>
<td style="text-align: right;">1</td>
<td style="text-align: center;">0</td>
<td style="text-align: right;">0</td>
</tr>
<tr class="even">
<td style="text-align: right;">1</td>
<td style="text-align: right;"><code>1</code></td>
<td style="text-align: right;">1</td>
<td style="text-align: center;">1</td>
<td style="text-align: right;">0</td>
</tr>
<tr class="odd">
<td style="text-align: right;">2</td>
<td style="text-align: right;"><code>10</code></td>
<td style="text-align: right;">2</td>
<td style="text-align: center;">1</td>
<td style="text-align: right;">1</td>
</tr>
<tr class="even">
<td style="text-align: right;">3</td>
<td style="text-align: right;"><code>11</code></td>
<td style="text-align: right;">2</td>
<td style="text-align: center;">2</td>
<td style="text-align: right;">2</td>
</tr>
<tr class="odd">
<td style="text-align: right;">4</td>
<td style="text-align: right;"><code>100</code></td>
<td style="text-align: right;">3</td>
<td style="text-align: center;">1</td>
<td style="text-align: right;">2</td>
</tr>
<tr class="even">
<td style="text-align: right;">5</td>
<td style="text-align: right;"><code>101</code></td>
<td style="text-align: right;">3</td>
<td style="text-align: center;">2</td>
<td style="text-align: right;">3</td>
</tr>
<tr class="odd">
<td style="text-align: right;">6</td>
<td style="text-align: right;"><code>110</code></td>
<td style="text-align: right;">3</td>
<td style="text-align: center;">2</td>
<td style="text-align: right;">3</td>
</tr>
<tr class="even">
<td style="text-align: right;">7</td>
<td style="text-align: right;"><code>111</code></td>
<td style="text-align: right;">3</td>
<td style="text-align: center;">3</td>
<td style="text-align: right;">4</td>
</tr>
<tr class="odd">
<td style="text-align: right;">8</td>
<td style="text-align: right;"><code>1000</code></td>
<td style="text-align: right;">4</td>
<td style="text-align: center;">1</td>
<td style="text-align: right;">3</td>
</tr>
<tr class="even">
<td style="text-align: right;">9</td>
<td style="text-align: right;"><code>1001</code></td>
<td style="text-align: right;">4</td>
<td style="text-align: center;">2</td>
<td style="text-align: right;">4</td>
</tr>
<tr class="odd">
<td style="text-align: right;">10</td>
<td style="text-align: right;"><code>1010</code></td>
<td style="text-align: right;">4</td>
<td style="text-align: center;">2</td>
<td style="text-align: right;">4</td>
</tr>
</tbody>
</table>
<p>La bonne réponse est la 5, on peut faire la preuve par récurrence à partir de l’algorithme.</p>
<h2 id="question-3">Question 3</h2>
<p>On peut parler de réduction de complexité entre un algorithme A1 et A2, lorsque la complexité passe de</p>
<ol type="1">
<li><span class="math inline"><em>O</em>(<em>n</em>)</span> pour A1 à <span class="math inline"><em>O</em>(log(<em>n</em>))</span> pour A2</li>
<li><span class="math inline"><em>O</em>(5<em>n</em>)</span> pour A1 à <span class="math inline"><em>O</em>(<em>n</em>/2)</span> pour A2</li>
<li><span class="math inline"><em>O</em>(2<sup><em>n</em></sup>)</span> pour A1 à <span class="math inline"><em>O</em>(<em>n</em><sup><em>n</em></sup>)</span> pour A2</li>
<li><span class="math inline"><em>O</em>(<em>l</em><em>o</em><em>g</em>(<em>n</em>))</span> pour A1 à <span class="math inline">$O(\sqrt{n})$</span> pour A2</li>
<li><span class="math inline">$O(n.\sqrt{n})$</span> pour A1 à <span class="math inline"><em>O</em>(<em>n</em>.log(<em>n</em>))</span> pour A2</li>
</ol>
<h3 id="réponses-éléments-2">réponses (éléments)</h3>
<ol type="1">
<li>Vrai. car <span class="math inline">log (<em>n</em>)</span> devient négligeable devant <span class="math inline"><em>n</em></span> pour <span class="math inline"><em>n</em></span> grand</li>
<li>Faux. Les ordres de grandeur sont les mêmes, on a du <span class="math inline"><em>O</em>(log(<em>n</em>))</span>, le coût peut être réduit mais la croissance reste du même ordre</li>
<li>Faux. <span class="math inline"><em>n</em><sup><em>n</em></sup></span> croit beaucoup plus rapidement que <span class="math inline">2<sup><em>n</em></sup></span></li>
<li>Faux. <span class="math inline">$\sqrt{n}$</span> croit beaucoup plus rapidement que <span class="math inline">log (<em>n</em>)</span></li>
</ol>
<h2 id="question-4">Question 4</h2>
<p>On considère l’algorithme suivant</p>
<pre class="algo"><code>mystère(n:entier)
  ploum = Faux
  i = 1
  tant que i &lt; n-1 et not ploum
    i = i + 1
    ploum = (i divise n)
  renvoyer ploum</code></pre>
<p>Une spécification correcte de la fonction <code>mystère</code> pourrait être</p>
<ol type="1">
<li><code>mystère(n)</code> renvoie <code>ploum</code></li>
<li><code>mystère(n)</code> renvoie la valeur de <code>ploum</code></li>
<li><code>mystère(n)</code> renvoie <code>Faux</code> si la valeur de <code>n</code> est un nombre premier (c’est à dire si la valeur de <code>n</code> n’est divisible que par 1 et elle-même)</li>
<li><code>mystère(n)</code> renvoie <code>Vrai</code> si la valeur de <code>n</code> est un nombre composé</li>
<li>aucune de ces spécifications ne convient</li>
</ol>
<h3 id="réponses-éléments-3">réponses (éléments)</h3>
<ol type="1">
<li>Faux. <code>ploum</code>est un nom de variable et pas une valeur de retour (ici un booléen)</li>
<li>Faux. <code>ploum</code>est une variable interne à l’algorithme et il n’y a pas de lien entre la valeur de <code>ploum</code> et la valeur de <code>n</code>, une spécification définit le lien entre la valeur des paramètres d’entrée et la valeur de retour de la fonction.</li>
<li>Faux. Une fonction qui répondrait toujours <code>Faux</code> vérifierait cette spécification, et ne correspondrait pas à ce que fait l’algorithme</li>
<li>Faux. pour les mêmes raisons que la question précédente</li>
<li>Vrai. Il faudrait combiner les 2 dernières affirmations: d’abord la fonction mystère prend en argument un entier positif plus grad que 2 (pour éviter de dire si 1 est premier ou pas), ensuite la valeur de retour est <code>Vrai</code> si et seulement si la valeur de <code>n</code> est un nombre est composé. Ce qui est équivalent à la valeur de retour est <code>Faux</code> si et seulement si la valeur de <code>n</code> est un nombre premier.</li>
</ol>
<h2 id="question-5">Question 5</h2>
<p>Pour prouver la correction de l’algorithme ci-dessus on utilise un/des invariant(s) pour la boucle <code>tant que</code>. Cet invariant doit permettre de démontrer que l’algorithme répond bien à la spécification (cf. réponse 5 de la question précédente).</p>
<p>I1: La valeur de <code>i</code> est un entier</p>
<p>I2: La valeur de <code>i</code> est un entier compris entre 1 et la valeur de <code>n</code> -1</p>
<p>I3: Si la valeur de <code>ploum</code> est <code>Vrai</code>, alors la valeur de <code>i</code> divise la valeur de <code>n</code>.</p>
<p>I4: Si la valeur de <code>ploum</code> est <code>Faux</code> alors pour entier k &gt; 1 et k inférieur ou égal à la valeur de <code>i</code> k ne divise pas la valeur de <code>n</code></p>
<ol type="1">
<li>I1 est-il un invariant ?</li>
<li>I2 est-il un invariant ?</li>
<li>I3 est-il un invariant ?</li>
<li>I4 est-il un invariant ?</li>
<li>Parmis les invariants éventuels I1, I2, I3, I4 lesquels sont suffisants pour garantir la corrextion.</li>
</ol>
<h3 id="réponses-éléments-4">réponses (éléments)</h3>
<ol type="1">
<li>Vrai. I1 est un invariant, vrai lors de l’entrée dans la boucle et vrai en fin de bloc du <code>tant que</code>, en tant que tel il n’offre que peu d’intérêt si ce n’est de savoir la nature des variables utilisées).</li>
<li>Vrai. I2 est également un invariant il permet en plus d’avoir une garantie sur la valeur de <code>i</code> qui ne peut atteindre la valeur de <code>n</code></li>
<li>Vrai. c’est un invariant, si la valeur de <code>ploum</code>est <code>Faux</code> et invariant est vérifié, il est donc toujours vrai en entrée de l’itération. Il est également vrai en fin de bloc car soit i ne divise pas n et donc <code>ploum</code>a la valeur <code>Faux</code>, soit <code>i</code> divise <code>n</code> et <code>ploum</code>a la valeur <code>Vrai</code>(on ne rentrera plus dans la boucle</li>
<li>Vrai. On accumule les résultats précédents, le fait d’itérer jusqu’à <code>i</code> donne une information sur toutes les valeurs déjà testées</li>
<li>Aucun des invariants proposés n’est suffisant en lui-même, il faut les combiner pour obtenir un invariant suffisant. Un tel invariant pourrait être : (<code>ploum</code> est <code>Faux</code> et pout tout k, 1 &lt; k &lt;=i, k ne divise pas n) ou (<code>ploum</code> est <code>Vrai</code> et i divise n et 1 &lt; i &lt; n)</li>
</ol>
